<div class= "center hero-unit">
<h1><%= t("text.welcome") %></h1>
<h2><%= t("text.start_1")%> <%= link_to t("links.register_home"), new_user_path %> <%= t("text.start_2") %> <%= link_to t("links.login"), login_path %> !</h2>
</div>
